[submodule "insta360_ros_driver"]
	path = insta360_ros_driver
	url = https://github.com/ai4ce/insta360_ros_driver
[submodule "livox_ros_driver_for_R2LIVE"]
	path = livox_ros_driver_for_R2LIVE
	url = https://github.com/ziv-lin/livox_ros_driver_for_R2LIVE
[submodule "r3live"]
	path = r3live
	url = https://github.com/hku-mars/r3live
[submodule "livox_ros_driver2"]
	path = livox_ros_driver2
	url = https://github.com/Abanesjo/livox_ros_driver2.git
[submodule "livox_camera_calib"]
	path = livox_camera_calib
	url = https://github.com/hku-mars/livox_camera_calib
