[submodule "dependencies/insta360_ros_driver"]
	path = dependencies/insta360_ros_driver
	url = https://github.com/ai4ce/insta360_ros_driver
[submodule "dependencies/livox_ros_driver2"]
	path = dependencies/livox_ros_driver2
	url = https://github.com/Abanesjo/livox_ros_driver2.git
