<?xml version="1.0"?>
<launch>
    <arg name="rviz" default="true"/>

    <remap from="/back_camera_image/compressed" to="/camera/image_color/compressed"/>
    <node name="rosbag" pkg="rosbag" type="play" args="--clock $(find curb2door)/bag_processed/processed_old_driver.bag"/>
    <include file="$(find r3live)/launch/r3live_bag.launch">
    <node if="$(arg rviz)" name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find curb2door)/config/r3live.rviz" />
    </include>
</launch>