<?xml version="1.0"?>
<launch>
    <arg name="rviz" default="true"/>
    <!-- <arg name="bag_path" default="/mnt/p/curb2door/bag/undistorted"/> -->
    <arg name="bag_path" default="/mnt/p/curb2door/bag/undistorted"/>
    <arg name="bag_file" default="loop2_undistorted.bag"/>
    <arg name="system" default="curb"/>
    <arg name="record" default="false"/>
    <arg name="record_path" default="/mnt/e/work/curb2door/r3live_samples/bag_r3live"/>

    <node if="$(arg record)" name="rosbag_record" pkg="rosbag" type="record" args="-O $(arg record_path)/r3live_$(arg bag_file) /camera_odom /camera_path /track_img /raw_in_img" output="screen"/>

    <group if="$(eval arg('system') == 'curb')">
        <remap from="/back_camera_image/compressed" to="/camera/image_color/compressed"/>
        <node name="livox_to_camera_init" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 livox_frame camera_init 30"/>
        <param name="LiDAR_pointcloud_topic" type="string" value= "/laser_cloud_flat" />
        <param name="IMU_topic" type="string" value= "/livox/imu" />
        <param name="Image_topic" type="string" value= "/camera/image_color" />
        <param name="r3live_common/map_output_dir" type="string" value="$(env HOME)/r3live_output" />
        <rosparam command="load" file="$(find curb2door)/config/r3live_curb.yaml" />
        <node pkg="r3live" type="r3live_LiDAR_front_end" name="r3live_LiDAR_front_end"  output="screen" required="true"/>
        <node pkg="r3live" type="r3live_mapping" name="r3live_mapping" output="screen" required="true" />

        <node if="$(arg rviz)" name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find curb2door)/config/rviz/r3live_curb.rviz" />
        <node name="rosbag" pkg="rosbag" type="play" args="$(arg bag_path)/$(arg bag_file)"/>
    </group>

    <group if="$(eval arg('system') == 'red')">
        <remap from="/front_camera_image/compressed" to="/camera/image_color/compressed"/>
        <remap from="/livox/imu" to="/os_cloud_node/imu"/>
        <remap from="/velodyne_points" to="/os_cloud_node/points"/>
        <node name="livox_to_camera_init" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 livox_frame camera_init 30"/>
        
        <!-- R3LIVE -->
        <param name="LiDAR_pointcloud_topic" type="string" value= "/laser_cloud_flat" />
        <param name="IMU_topic" type="string" value= "/livox/imu" />
        <param name="Image_topic" type="string" value= "/camera/image_color" />
        <param name="r3live_common/map_output_dir" type="string" value="$(env HOME)/r3live_output" />
        <rosparam command="load" file="$(find curb2door)/config/r3live_red.yaml" />
        <node pkg="r3live" type="r3live_LiDAR_front_end" name="r3live_LiDAR_front_end"  output="screen" required="true"/>
        <node pkg="r3live" type="r3live_mapping" name="r3live_mapping" output="screen" required="true" />

        <node if="$(arg rviz)" name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find curb2door)/config/rviz/r3live_MNYC.rviz" />
        <node name="rosbag" pkg="rosbag" type="play" args="$(arg bag_path)/$(arg bag_file)"/>
    </group>
<!-- TODO: Record -> R3LIVE -> Play -->
</launch>