<?xml version="1.0"?>
<launch>
    <arg name="rviz" default="false"/>
    <arg name="bag_path" default="/mnt/e/work/curb2door/r3live_samples/bag_raw"/>

    <node name="rosbag" pkg="rosbag" type="record" args="-o $(arg bag_path) /livox/lidar /livox/imu /insta_image_yuv" output="screen"/>

    <include file="$(find livox_ros_driver2)/launch/msg_MID360.launch"/>
    <include file="$(find insta360_ros_driver)/launch/live_preview.launch">
        <arg name="debug" value="false"/>
    </include>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find curb2door)/config/preview.rviz"/>d
</launch>